/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
  }
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  /* startje */
	  --color-text-dark:#111;
	  --color-text-light:#ffffff;
	  --color-background:#FAEACC;
	  --secondary-color:#2A1A19;
	  --third-color: #F09C5E;
	  --fourth-color:#FFDCA4;
	  --my-radius:3.75em;
	  
  }
  
  /****************/
  /* JOUW STYLING */
  /****************/
  /*  jouw code   */
  
  body {
	  font-family: 'kanit', sans-serif;
	  margin:0;
	  background-color:var(--color-background);
  }
  
  header, main, footer {
	  font-family: 'Kanit', sans-serif;
  }
  
  a {
	  text-decoration: none;
  }
  
  p {
	  font-size: 1em;
	  line-height: 1.5;
	  font-weight: 400;
  }
  
  /******************************************************/
  /* styling voor de small-screen versie van de website */
  /******************************************************/
  

  /****************/
  /* HEADER: logo, nav and contact us*/
  /****************/
  
  body > header {
	  position: fixed;
	  top: 0;
	  left: 0;
	  z-index: 100;
	  height: 5em;
	  width: 100%;
	  padding-left: 1em;
	  padding-right: 1em;
	  background-color: var(--color-background);
	  display: flex;
	  flex-wrap: row;
	  row-gap: 2em; /* Adjusted from column-gap to row-gap */
	  align-items: center;
	}
  
	@media (min-width: 32em) {
	  body > header {
		  position: fixed;
		  top: 0;
		  left: 0;
		  z-index: 100;
		  height: 5em;
		  width: 100%;
		  padding-left: 2.125em;
		  padding-right: 2.125em;
		  background-color: var(--color-background);
		  display: flex;
		  flex-wrap: row;
		  row-gap: 2em; /* Adjusted from column-gap to row-gap */
		  align-items: center;
		}
	}
  
  /****************/
  /* Contact us */
  /****************/
  body > header > a:last-of-type {
	  display: block;
	  padding: 0.75em 2.5em;
	  font: 0.875em, 'Kanit', sans-serif;
	  color: var(--secondary-color);
	  background-color: var(--third-color);
	  border-radius: 2em;
  }
  
  @media (max-width: 32em) {
	  body > header > a:last-of-type {
		  display:none;
	  }
  }
  
  @media (min-width: 32em) {
	  header nav li:last-child {
		opacity: 0;
		  pointer-events: none; /* Disable pointer events to make it unclickable */
		  max-height: 0; /* Optionally, set max-height to 0 to fully collapse the element */
		  overflow: hidden; /* Hide any overflowing content */
	  }
  }
  
  nav ul li {
	  transition: opacity 0.02s ease; /* Add a transition property for opacity */
  }
  

  /********************************/
  /*  LOGO in bar */
  /********************************/
  
  header a:first-of-type {
	  order:-1;
	  margin-right:auto;
  }
  
  header a img {
	  width: 10em;
	  height: 3em;
  }
  @media (max-width: 32em) {
	  header a img {
		  width: 6em;
		  height:2em;
	  }
	  
  }
  

	
  /********/
  /* MENU */
  /********/

  /* attribuut selector */
	[aria-current="page"] {
		color:var(--color-text-light);
		background-color: var(--secondary-color);
		
		/* geeft niet gewenste resultaat */
		left:0;
		right:0;
		/* hoe zorg ik ervoor dat deze een padding krijgt? */
	  }
  
  nav {
	  /* JOUW CODE HIER - stap 1 */
	  position:absolute;
	  top:100%;
	  right:0;
	  left:0;
  
	  background-color: var(--color-background);
  
	  display:grid;
	  align-content:start;
	  gap:1em;
  
	  text-align:center;
  
	  /* JOUW CODE HIER - stap 2 */
	  /* translate:0% -100%; */
  
	  /* JOUW CODE HIER - stap 4 */
	  transition:.1s;
  
	  transform-origin: 50% 0%;
	  scale:1 0;
  }
  
  
  /* als menu open is */
  nav.open {
	  /* JOUW CODE HIER - stap 4 */
	  /* translate:0 0; */
  
  
	  transition:.5s;
  
	  /* top:3em; */
	  
	  padding:0;
	  
	  scale:1 1;
  }
  
  header nav a {
	  /* Styled text in hamburger menu */
	  text-transform:capitalize;
	  text-decoration: none;
	  color: #2A1A19;
	  /* Helpt ... */
	  display: block;
	  /* ... */
	  padding: 1em;
  
	}
  
  header button {
	  order:-1;
  }
  
  
  
  ul {
	  list-style-type: none;
	  margin:0;
	  padding:0;
  
  }
  
  header nav li {
	  margin: 0;
	  width: 100%;
  
	  opacity: 0;
  
	  transition: .2s .3s;
  }
  
  nav.open li {
	  /* padding:10px 20px;; */
	  opacity: 1;
	  transition: .2s .5s;
  }
  
  /**********************/
  /* MENU OPEN BUTTON */
  /**********************/
  
  header > button {
	  position:relative;
	  
	  background-color: rgba(255, 0, 0, 0); ;
	  border-style: none;
  
	  /* padding:1em; */
	  /* background-color:#F9EACC; */
  
  
	  /* JOUW CODE HIER - stap 3 */
	  /* order:-1; */
  
	  
	  width:2.5em;
	  aspect-ratio: 1;
  
	  display: flex;
	  justify-content: center;
	  align-items: center;
  
  
  }
  
  header > button div:first-of-type, 
  header > button div:nth-child(2), 
  header > button div:nth-child(3) {
	  position: absolute;
	  width: 1.5em; 
	  height: 0.21em;
	  border-radius: 1em;
	  background-color: #333;
	  transition:.3s;
	 
  }
  
  header > button:hover{
	  color: var(--third-color);
  }
  
  /********************/
  /* MENU CLOSE BUTTON */
  /********************/
  
  
  header > button div:first-of-type {
	  transform: translate(0px, -6px);
  }
  
  
  header > button div:nth-child(3) {
	  transform: translate(0px, 6px);
  
  }
  
  /***************/
  /* SLUIT BUTTON */
  /***************/
  
  header > button.open div:first-of-type {
	  transform: rotate(-45deg);
  }
  
  header > button.open div:nth-child(2) {
	  opacity:0;
  }
  
  header > button.open div:nth-child(3) {
	  transform: rotate(45deg);
  }
  
  /********************/
  /*  NAV Hover States */
  /*******************/
  /* Hamburger icon and X */
  header > button:hover div {
	  background-color: #F09C5E;
	  transition: 0.2s;
  }
  
  /* List items */
  nav a:hover {
	  color: var(--color-text-light);
	  background-color: var(--secondary-color);
  }

  /***************/
  /*  MAIN HEADER */
  /***************/
  /***************************/
/* BACKGROUND IMAGE COVER */
/***************************/
  
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
  /* Waarom? Helpt de png titel "lofi Studio" leesbaar zijn voor e-reader en leesbaar als de h1 */
  .visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  } 

/* main header styling */
main > header {
    position: relative;
    overflow: hidden;
    height: 50vh;
    display: flex;
    flex-direction: column; /* Make it a column layout */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    background-image: url('images/Girl_Window_Night_Image-1536x866.jpg');
    background-position: center;
    background-size: cover;
}

/* h1 styling */
main > header h1 {
    color: var(--color-text-light);
    margin: 0; /* Remove default margin */
	font-size: 3em;
	font-weight: 400;
}

/* h2 styling */
main > header h2 {
    color: var(--color-text-light);
    font-size: 1em;
    margin-top: 0em;
	font-weight: 400;
}

  
  /***************/
  /*  SECTIONS */
  /***************/

  /* Use disk to create bullet points */
main section ul {
    list-style-type: disc; 
    margin-left: 1.5em; 
}

main section li p {
    margin: 0; 
    margin-bottom: 0.5em; 
}



  
  section {
	  margin-top:2.8em;
	  margin-bottom:2.8em;
  
	  margin-left:1.21875em;
	  margin-right:1.21875em;

	  border-radius: var(--my-radius);
	  background-color: var(--fourth-color);
	  padding:2em;
  }

  @media  (min-width: 25em) {
  section {
	display: grid;            
	grid-template-columns: 1fr 2fr; 
	gap: 0.5em; 
}
}

  
  main > a {
	padding:0.75em 5em; 
	border-radius: var(--my-radius);
	text-align: center;
	color:var(--secondary-color);
	background-color:var(--third-color);
}
  
  @media (max-width: 31.25em) {
	  section a {
		  width: 100%;
		  display: block;
		  margin: 0 auto;
	  }
  }
  
  section img {
	  border-radius: var(--my-radius);
  }
  
  main section h2 {
	  font-family: 'Kanit',sans-serif;
	  font-size:  2.1875em;
	  font-weight: 200;
	  margin:0;
  }
  
  main section h3 {
	  font-family: 'Kanit',sans-serif;
	  font-size: 1.25em;
	  font-weight: 400;
	  margin:0;
	  
  }

main > a[href="Apply-now.html"] {
    display: block;
    margin: 1.5em; 
	margin-bottom: 4em; 
    padding: 1em 2em;
    border-radius: var(--my-radius);
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--third-color);
    text-decoration: none; 
    font-weight: 500; 
}


@media (max-width: 32em) {
    main > a[href="Apply-now.html"] {
        padding: 0.75em; 
    }
}
@media (min-width: 32em) {
    main > a[href="Apply-now.html"] {
        max-width: 15em%;
		margin-left:15%;
		margin-right:15%;
    }
}
  
  /***************/
  /*  FOOTER */
  /***************/
  footer {
	  padding-top:4.875em;
	  padding-bottom:4.875em;
  
	  padding-left: 3%;
	  padding-right: 3%;
	  background-color: var(--secondary-color);
  }
  
  footer h4 {
	  color: var(--third-color);
	  font-size: 1.75em;
	  font-weight: 400;
	  margin:0;
  }
  
  footer a {
	  color: var(--color-text-light);
  }
  
  footer > a:last-of-type {
	  padding:0.75em 5em; 
	  border-radius: var(--my-radius);
	  text-align: center;
	  color:var(--secondary-color);
	  background-color:var(--third-color);
  }
  
  footer a img {
	  width: auto;
	  height: 6em;
  }
  
  footer ul{
	  margin-bottom: 1em;
  }
  
  footer li {
	  color:black;
	  opacity:100;
  }
  
  footer > a[href="Our-projects.html"] {
	  display: block;
	  margin: 0 auto;
	  text-align: center;
	  margin-top:2em;
	  margin-bottom:2em;
  }
  