/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
/*  jouw code   */

/* TEMPORARY SIZE FOR ALL IMAGES WHILE CODING */
img {
	height: 2em;
}

/******************************************************/
/* styling voor de small-screen versie van de website */
/******************************************************/

/****************/
/* Header */
/****************/


header {
	min-height:4em;
	padding:0 1em;
	background-image:var(--header-gradient);
	line-height:1;

	background-color: red;
	position:relative;
	
	/* JOUW CODE HIER - stap 3 */
	display: flex;
	justify-content:space-between;
	align-items:center;
}

h1 {
	position:absolute;
	right:0;
	left:0;
	top:0;
	bottom:0;
	
	Display:flex;
	justify-content:center;
	align-items:center;
}

/********/
/* MENU */
/********/

nav {
	/* JOUW CODE HIER - stap 1 */
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;

	/* JOUW CODE HIER - stap 2 */
	translate: -98% 0%;

	/* JOUW CODE HIER - stap 4 */
	transition:.1s;
}

header>button {
	order:-1;
}

/* als menu open is */
nav.open {
	/* JOUW CODE HIER - stap 4 */
	translate: 0 0;
	transition:.5s;
}

/***************/
/* MENU BUTTON */
/***************/

header > button {
	/* JOUW CODE HIER - stap 3 */
	order:-1;
}

/***************/
/* SLUIT BUTTON */
/***************/
  nav button {
   justify-self:start;
}

/***************/
/*  BANNER */
/***************/
#backgroundart {
	width: 100%;
	height: 100%;
	/* background-position: 50%; */
	background-size:cover;
}

/********************************/
/*  LOFI STUDIO TITEL ALS H1 */
/*************************8******/
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
/* Waarom? Helpt de png titel "lofi Studio" leesbaar zijn voor e-reader en leesbaar als de h1 */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

  header nav a {
	text-transform: uppercase;
  }
  
  /* attribuut selector */
  [aria-current="page"] {
	color:red;
  }




